.search-button{
  margin-top: 8px;
  font-size: 9px
}

.icon-size {
  font-size: 22px;
  color: #8d949b;
}
.input-size{
  font-size: 14px;
}

.user-buttons{
  margin-top: 10px;
  margin-bottom: -15px;
  }

.mat-card{
.mat-card-title{
  margin-top: -5px;
}
}

.table{
  margin-top: -10px;
}
